$black: #000;
$white: #fff;

$systemOrange: #fe7a30;
$systemYellow: #ffc500;
$systemRed: #ff4c50;
$systemDarkGray: #333;
$systemGray: #666;
$systemLightGray: #999;

$systemBorderColor: #d9d9d9;
$systemFocusColor: #00aa9b;

$systemDisabledOpacity: 0.3;