
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
  height: 100%;
	font-family: 'Nanum Barun Gothic', sans-serif;
}

body, #__nuxt {
  height: 100%;
}

#__layout {
  height: 100%;
  background: 0;
}

html, body, p, ul, li, ol, dl, dt, dd, fieldset {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
}

button:focus {
  outline: none;
}

input[type="checkbox"], label {
  margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

textarea {
  resize: none;
	font-family: 'Nanum Barun Gothic', sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:focus {
  outline: none;
}

